name: goreleaser
on:
  push:
    tags:
      - 'v*'
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.4
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: "release --rm-dist --config=<(echo '
builds:
  - id: gpp
    main: ./cmd/gpp/main.go
    binary: gpp
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - amd64
      - arm64
  ')"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}